{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Time</th>
                <th>Search Term</th>
                <th>Keywords</th>
                <th>Results Found</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
