{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post" enctype="multipart/form-data"> 
        <input type="file" id="file" name="file" accept=".doc,.docx,.pdf,image/*">
        <input autocomplete="off" autofocus class="form-control mx-auto w-50" name="keyword" placeholder="Enter search term or upload a file" type="text">
        <button class="btn btn-primary me-2" type="submit">Search</button>
    </form>
{% endblock %}
